//
// Row: Full Width Image
//
// Enqueued as `acbs-row-full_width_image`, only on pages with such a row.
// Markup: templates/rows/full_width_image.php
//

.fl-acbs .fl-type-full_width_image {

	&:first-child {

		padding-top: calc(var(--fl-space-y-lg) + 60px);
	}

	&.fl-full-width-image-overlay {
		position: relative;

		--heading-colour: var(--white);
		--text-colour: var(--white);
		color: var(--text-colour);

		.container {
			position: relative;
			z-index: 2;
		}

		.fl-full-width-image-overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}
	}
}
