.is-drilldown {
    position: relative;
    overflow: hidden;
}

.is-drilldown li {
    display: block;
}
.is-drilldown.animate-height {
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
}
.drilldown a {
    padding: 13px 16px;
    background: #fefefe;
}
.drilldown .is-drilldown-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: -1;
    width: 100%;
    background: #fefefe;
    -webkit-transition: -webkit-transform 0.25s linear;
    transition: -webkit-transform 0.25s linear;
    transition: transform 0.25s linear;
    transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}
.drilldown .is-drilldown-submenu.is-active {
    z-index: 1;
    display: block;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.drilldown .is-drilldown-submenu.is-closing {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.drilldown .is-drilldown-submenu a {
    padding: 11.2px 16px;
}
.drilldown .nested.is-drilldown-submenu {
    margin-right: 0;
    margin-left: 0;
}
.drilldown .drilldown-submenu-cover-previous {
    min-height: 100%;
}
.drilldown .is-drilldown-submenu-parent > a {
    position: relative;
}
.drilldown .is-drilldown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    content: "";
    border-right-width: 0;
    border-color: transparent transparent transparent #2554B0;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 16px;
}
.drilldown.align-left .is-drilldown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    content: "";
    border-right-width: 0;
    border-color: transparent transparent transparent #2554B0;
    right: 16px;
    left: auto;
}
.drilldown.align-right .is-drilldown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    content: "";
    border-left-width: 0;
    border-color: transparent #2554B0 transparent transparent;
    right: auto;
    left: 16px;
}
.drilldown .js-drilldown-back > a::before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    content: "";
    border-left-width: 0;
    border-color: transparent #2554B0 transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.menu.drilldown, .menu.drilldown ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu.drilldown a {
    display: block;
}

.is-drilldown .drilldown a {
    background: #093280;
    color: white;
    font-size: 14px;
    font-weight: bold !important;
    border-top: 1px solid rgba(255, 255, 255, .1);
    text-decoration: none;
    padding: 13px 16px;
}

.is-drilldown {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.drilldown .is-drilldown-submenu-parent > a {
    position: relative;
}

.drilldown .is-drilldown-submenu-parent > a::after {
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 37px;
    height: calc(100% - 10px);
    background: rgba(0, 0, 0, .15) url('data:image/svg+xml;utf-8,<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.05847 0.212754C9.36081 -0.0709006 9.8509 -0.0709356 10.1532 0.212754L15.7732 5.48634C15.9183 5.62256 16 5.80735 16 5.99999C16 6.19264 15.9183 6.37739 15.7732 6.51363L10.1532 11.7872C9.85088 12.0709 9.36081 12.0709 9.05847 11.7872C8.75618 11.5035 8.75614 11.0436 9.05847 10.7599L13.3569 6.72646H0.774194C0.346618 6.72646 -3.39806e-08 6.40121 0 5.99999C5.99329e-05 5.59881 0.346655 5.27351 0.774194 5.27351H13.3569L9.05847 1.24004C8.75613 0.956333 8.75613 0.496462 9.05847 0.212754Z" fill="white"/></svg>') no-repeat 50% / contain;
    background-size: 16px 12px;
    margin-top: auto;
    border-radius: 5px;
}

.drilldown .js-drilldown-back > a {
    position: relative;
    padding-left: 54px;
}

.drilldown .js-drilldown-back > a:before {
    border: none;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 37px;
    height: calc(100% - 10px);
    background: rgba(0, 0, 0, .15) url('data:image/svg+xml;utf-8,<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.94153 0.212754C6.63919 -0.0709006 6.1491 -0.0709356 5.84677 0.212754L0.226815 5.48634C0.0816519 5.62256 3.01468e-05 5.80735 4.76837e-07 5.99999C4.90822e-07 6.19264 0.0816605 6.37739 0.226815 6.51363L5.84677 11.7872C6.14912 12.0709 6.63919 12.0709 6.94153 11.7872C7.24382 11.5035 7.24386 11.0436 6.94153 10.7599L2.64315 6.72646H15.2258C15.6534 6.72646 16 6.40121 16 5.99999C15.9999 5.59881 15.6533 5.27351 15.2258 5.27351H2.64315L6.94153 1.24004C7.24387 0.956333 7.24387 0.496462 6.94153 0.212754Z" fill="white"/></svg>') no-repeat 50% / contain;
    background-size: 16px 12px;
    border-radius: 5px;
}

.drilldown .js-drilldown-back > a:hover:before {}


.drilldown .is-drilldown-submenu-parent > a:hover::after{
    background: #ffffff url('data:image/svg+xml;utf-8,<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.05847 0.212754C9.36081 -0.0709006 9.8509 -0.0709356 10.1532 0.212754L15.7732 5.48634C15.9183 5.62256 16 5.80735 16 5.99999C16 6.19264 15.9183 6.37739 15.7732 6.51363L10.1532 11.7872C9.85088 12.0709 9.36081 12.0709 9.05847 11.7872C8.75618 11.5035 8.75614 11.0436 9.05847 10.7599L13.3569 6.72646H0.774194C0.346618 6.72646 -3.39806e-08 6.40121 0 5.99999C5.99329e-05 5.59881 0.346655 5.27351 0.774194 5.27351H13.3569L9.05847 1.24004C8.75613 0.956333 8.75613 0.496462 9.05847 0.212754Z" fill="%23226884"/></svg>') no-repeat 50% / contain;
    background-size: 16px 12px;
}

.drilldown .js-drilldown-back > a,
.drilldown .is-drilldown-submenu-parent > a {
    cursor: pointer;
}

.drilldown .nested.is-drilldown-submenu {
    background: #4d1f3c;
}

.is-drilldown .drilldown a:hover {
    color: white;
    background-color: #2554B0;
}

.is-drilldown > ul.menu:first-child > li:first-child > a {

}

.is-drilldown .drilldown a {
    text-decoration: none;
}

ul.drilldown {
    transition-duration: .6s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.menu.drilldown > li:not(is-drilldown-submenu-parent) > a {
    font-weight: normal;
}