/**
 * Section paddings
 */
.fs-fl-container {
    padding-top: var(--section-padding-y-lg) !important;
    padding-bottom: var(--section-padding-y-lg) !important;
}

.fs-fl-p-none, .fs-fl-p-none > .e-con-inner {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.fs-fl-p-bottom, .fs-fl-p-bottom > .e-con-inner {
    padding-top: 0 !important;
}

.fs-fl-p-top, .fs-fl-p-top > .e-con-inner {
    padding-bottom: 0 !important;
}

.fs-fl-p-sm {
    padding-top: var(--section-padding-y-sm) !important;
    padding-bottom: var(--section-padding-y-sm) !important;
}

.fs-fl-p-top-sm {
    padding-top: var(--section-padding-y-sm) !important;
}

.fs-fl-p-bottom-sm {
    padding-bottom: var(--section-padding-y-sm) !important;
}

.fs-fl-p-lg {
    padding-top: calc(var(--section-padding-y-lg) * 1.2) !important;
    padding-bottom: calc(var(--section-padding-y-lg) * 1.2) !important;
}


@media (max-width: 767.98px) {
    .fs-fl-container {
        padding-top: var(--section-padding-y-sm) !important;
        padding-bottom: var(--section-padding-y-sm) !important;
    }

    .fs-fl-p-sm {
        padding-top: var(--section-padding-y-xs) !important;
        padding-bottom: var(--section-padding-y-xs) !important;
    }

    .fs-fl-p-top-sm {
        padding-top: var(--section-padding-y-xs) !important;
    }

    .fs-fl-p-bottom-sm {
        padding-bottom: var(--section-padding-y-xs) !important;
    }

    .fs-fl-p-lg {
        padding-top: var(--section-padding-y) !important;
        padding-bottom: var(--section-padding-y-lg) !important;
    }
}

/**
 * Alignments
 */


.fs-fl-loop-grid-columns-align-center .elementor-widget-loop-grid .elementor-grid,
.fs-fl-loop-grid-columns-align-right .elementor-widget-loop-grid .elementor-grid {
    display: flex !important;
    align-items: flex-start !important;
    flex-wrap: wrap !important;
}

.fs-fl-loop-grid-columns-align-center .elementor-grid,
.elementor-grid.grid-inline {
    display: flex !important;
    flex-wrap: wrap !important;
}

.fs-fl-loop-grid-columns-align-center .elementor-widget-loop-grid .elementor-grid:not(.grid-inline),
.fs-fl-loop-grid-columns-align-center .elementor-grid:not(.grid-inline) {
    justify-content: center;
}

.fs-fl-loop-grid-columns-align-right .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
    justify-content: flex-end;
}

.fs-fl-loop-grid-columns-6:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item {
    flex: 0 1 calc(16.66% - calc(var(--grid-spacing) * 1.75)) !important;
}

.fs-fl-loop-grid-columns-5:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item {
    flex: 0 1 calc(20% - calc(var(--grid-spacing) * 1.6)) !important;
}

.fs-fl-loop-grid-columns-4:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item {
    flex: 0 1 calc(25% - calc(var(--grid-spacing) * 1.5)) !important;
}

.fs-fl-loop-grid-columns-3:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item {
    flex: 0 1 calc(33.33% - calc(var(--grid-spacing) * 1.4)) !important;
}

.fs-fl-loop-grid-columns-2:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item {
    flex: 0 1 calc(50% - var(--grid-spacing)) !important;
}

.fs-fl-loop-grid-columns-6:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid.grid-inline .e-loop-item,
.fs-fl-loop-grid-columns-5:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid.grid-inline .e-loop-item,
.fs-fl-loop-grid-columns-4:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid.grid-inline .e-loop-item,
.fs-fl-loop-grid-columns-3:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid.grid-inline .e-loop-item,
.fs-fl-loop-grid-columns-2:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid.grid-inline .e-loop-item {
    flex: 0 1 auto !important;
}

.fs-fl-loop-grid-columns-6:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
    grid-template-columns: repeat(6, 1fr) !important;
}

.fs-fl-loop-grid-columns-5:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
    grid-template-columns: repeat(5, 1fr) !important;
}

.fs-fl-loop-grid-columns-4:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
    grid-template-columns: repeat(4, 1fr) !important;
}

.fs-fl-loop-grid-columns-3:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
    grid-template-columns: repeat(3, 1fr) !important;
}

.fs-fl-loop-grid-columns-2:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
    grid-template-columns: repeat(2, 1fr) !important;
}

.fs-fl-loop-grid-columns-1:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
    grid-template-columns: repeat(1, 1fr) !important;
}

.fs-image-object-fit-contain {
    position: static !important;
}

.fs-image-object-fit-contain img {
    object-fit: contain !important;
    height: auto !important;
}

.fs-fl-image-fit-contain .fs-fl-content-col-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.fs-fl-type-full_width_image_cta {
    padding: 0 !important;
}
.fs-fl-type-full_width_image_cta > .e-con-inner {
    max-width: 100% !important;
}

.elementor-widget-text-editor h2 + p, .elementor-widget-theme-post-content h2 + p, .elementor-widget-text-editor h2 + ul, .elementor-widget-theme-post-content h2 + ul, .elementor-widget-text-editor h2 + ol, .elementor-widget-theme-post-content h2 + ol, .elementor-widget-text-editor h3 + p, .elementor-widget-theme-post-content h3 + p, .elementor-widget-text-editor h3 + ul, .elementor-widget-theme-post-content h3 + ul, .elementor-widget-text-editor h3 + ol, .elementor-widget-theme-post-content h3 + ol {
    margin-top: calc(var(--grid-spacing) * 1.5);
}
.elementor-widget-text-editor p + h2, .elementor-widget-theme-post-content p + h2, .elementor-widget-text-editor ul + h2, .elementor-widget-theme-post-content ul + h2, .elementor-widget-text-editor ol + h2, .elementor-widget-theme-post-content ol + h2, .elementor-widget-text-editor p + h3, .elementor-widget-theme-post-content p + h3, .elementor-widget-text-editor ul + h3, .elementor-widget-theme-post-content ul + h3, .elementor-widget-text-editor ol + h3, .elementor-widget-theme-post-content ol + h3 {
    margin-top: calc(var(--grid-spacing) * 2);
}
.elementor-widget-text-editor h4 + p, .elementor-widget-theme-post-content h4 + p, .elementor-widget-text-editor h4 + ul, .elementor-widget-theme-post-content h4 + ul, .elementor-widget-text-editor h4 + ol, .elementor-widget-theme-post-content h4 + ol, .elementor-widget-text-editor h5 + p, .elementor-widget-theme-post-content h5 + p, .elementor-widget-text-editor h5 + ul, .elementor-widget-theme-post-content h5 + ul, .elementor-widget-text-editor h5 + ol, .elementor-widget-theme-post-content h5 + ol, .elementor-widget-text-editor h6 + p, .elementor-widget-theme-post-content h6 + p, .elementor-widget-text-editor h6 + ul, .elementor-widget-theme-post-content h6 + ul, .elementor-widget-text-editor h6 + ol, .elementor-widget-theme-post-content h6 + ol {
    margin-top: calc(var(--grid-spacing) * .875);
}
.elementor-widget-text-editor p + h4, .elementor-widget-theme-post-content p + h4, .elementor-widget-text-editor ul + h4, .elementor-widget-theme-post-content ul + h4, .elementor-widget-text-editor ol + h4, .elementor-widget-theme-post-content ol + h4, .elementor-widget-text-editor p + h5, .elementor-widget-theme-post-content p + h5, .elementor-widget-text-editor ul + h5, .elementor-widget-theme-post-content ul + h5, .elementor-widget-text-editor ol + h5, .elementor-widget-theme-post-content ol + h5, .elementor-widget-text-editor p + h6, .elementor-widget-theme-post-content p + h6, .elementor-widget-text-editor ul + h6, .elementor-widget-theme-post-content ul + h6, .elementor-widget-text-editor ol + h6, .elementor-widget-theme-post-content ol + h6 {
    margin-top:  calc(var(--grid-spacing) * 1.8);
}
.elementor-widget-text-editor ul, .elementor-widget-theme-post-content ul, .elementor-widget-text-editor ol, .elementor-widget-theme-post-content ol {
    margin-bottom: calc(var(--grid-spacing) * 1.5);
}


.elementor-widget-text-editor h1,
.elementor-widget-text-editor h2,
.elementor-widget-text-editor h3 {
    margin-bottom: calc(var(--grid-spacing) * 1.5);
}

.elementor-element .fs-fl-type-logo_gallery .gallery {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: calc(var(--grid-spacing) * 2) !important;
    margin: 0 !important;
}

.elementor-element .fs-fl-type-logo_gallery .gallery-cols-8 .gallery .gallery-item {
    max-width: calc((100% / 8) - ((var(--grid-spacing) * 2 * 7) / 8));
}

.elementor-element .fs-fl-type-logo_gallery .gallery-cols-7 .gallery .gallery-item {
    max-width: calc((100% / 7) - ((var(--grid-spacing) * 2 * 6) / 7));
}

.elementor-element .fs-fl-type-logo_gallery .gallery-cols-6 .gallery .gallery-item {
    max-width: calc((100% / 6) - ((var(--grid-spacing) * 2 * 5) / 6));
}

.elementor-element .fs-fl-type-logo_gallery .gallery-cols-5 .gallery .gallery-item {
    max-width: calc((100% / 5) - ((var(--grid-spacing) * 2 * 4) / 5));
}

.elementor-element .fs-fl-type-logo_gallery .gallery-cols-4 .gallery .gallery-item {
    max-width: calc((100% / 4) - ((var(--grid-spacing) * 2 * 3) / 4));
}

.elementor-element .fs-fl-type-logo_gallery .gallery-cols-3 .gallery .gallery-item {
    max-width: calc((100% / 3) - ((var(--grid-spacing) * 2 * 3) / 3));
}

.elementor-element .fs-fl-type-logo_gallery .gallery-cols-2 .gallery .gallery-item {
    max-width: calc((100% / 2) - ((var(--grid-spacing) * 2 * 2) / 2));
}

.elementor-element .fs-fl-type-logo_gallery .gallery-cols-1 .gallery .gallery-item {
    max-width: 100%;
}

.elementor-element .fs-fl-type-logo_gallery .gallery .gallery-item {
    position: relative !important;
    aspect-ratio: 1.75 !important;
    padding: 0 !important;
}

.elementor-element .fs-fl-type-logo_gallery .gallery .gallery-item .gallery-icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: var(--light);
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius-lg);
}

.elementor-element .fs-fl-type-logo_gallery .gallery .gallery-item .gallery-icon img {
    max-width: 80%;
    max-height: 70%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fs-fl-type-full_width_image {
    max-width: 100%;
    overflow: hidden;
}

.fs-fl-content-align-right .fs-fl-content-col-content {
    order: 2;
    padding-left: calc(var(--grid-spacing) * 4) !important;
    padding-right: 0 !important;
}

@media (max-width: 991.98px) {

    .fs-fl-content-align-right .fs-fl-content-col-content {
        padding-left: 0 !important;
    }

    .fs-fl-loop-grid-columns-align-center .elementor-grid {
        flex-wrap: wrap;
    }

    .fs-fl-loop-grid-columns-6:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item,
    .fs-fl-loop-grid-columns-5:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item {
        flex: 0 1 calc(33% - (1.2 * var(--grid-spacing))) !important;
    }

    .fs-fl-loop-grid-columns-4:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item,
    .fs-fl-loop-grid-columns-3:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item {
        flex: 0 1 calc(50% - var(--grid-spacing)) !important;
    }

    .fs-fl-loop-grid-columns-2:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item,
    .fs-fl-type-testimonial .fs-fl-loop-grid-columns-align-center.elementor-grid > .e-loop-item {
        flex: 0 1 100% !important;
    }

    .fs-fl-loop-grid-columns-2:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .fs-fl-loop-grid-columns-3:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline),
    .fs-fl-loop-grid-columns-3:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline),
    .fs-fl-loop-grid-columns-5:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .fs-fl-loop-grid-columns-6:not(.fs-fl-loop-grid-columns-align-center):not(.fs-fl-loop-grid-columns-align-right) .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .elementor-widget-loop-grid.grid-inline > .elementor-grid.grid-inline-center-sm, .elementor-widget-loop-grid.grid-inline > .elementor-widget-container > .elementor-grid.grid-inline-center-sm {
        justify-content: center !important;
    }
    .elementor-element .fs-fl-type-logo_gallery .gallery {
        gap: calc(var(--grid-spacing) * .5) !important;
    }

    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-8 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-7 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-6 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-5 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-4 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-3 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-2 .gallery .gallery-item {
        max-width: calc((100% / 4) - ((var(--grid-spacing) * 3) / 4));
    }

}


@media (max-width: 767.98px) {

    .fs-fl-loop-grid-columns-2 .elementor-widget-loop-grid .elementor-grid:not(.grid-inline),
    .fs-fl-loop-grid-columns-3 .elementor-widget-loop-grid .elementor-grid:not(.grid-inline),
    .fs-fl-loop-grid-columns-4 .elementor-widget-loop-grid .elementor-grid:not(.grid-inline),
    .fs-fl-loop-grid-columns-5 .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .fs-fl-loop-grid-columns-6 .elementor-widget-loop-grid .elementor-grid:not(.grid-inline) {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .fs-fl-p-mobile-bottom, .fs-fl-p-mobile-bottom > .e-con-inner {
        padding-top: 0 !important;
    }

    .fs-fl-p-mobile-top, .fs-fl-p-mobile-top > .e-con-inner {
        padding-bottom: 0 !important;
    }

    .fs-fl-p-mobile-sm {
        padding-top: var(--section-padding-y-xs) !important;
        padding-bottom: var(--section-padding-y-xs) !important;
    }

    .fs-fl-p-mobile-lg {
        padding-top: var(--section-padding-y) !important;
        padding-bottom: var(--section-padding-y) !important;
    }

    .fs-fl-p-mobile-none, .fs-fl-p-mobile-none > .e-con-inner {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .fs-loop-grid-col-3 .elementor-grid,
    .fs-loop-grid-col-2 .elementor-grid,
    .fs-loop-grid-col-1 .elementor-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .fs-fl-type-timeline {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .grid-inline-center-sm,
    .grid-inline-center-xs,
    .elementor-widget-loop-grid.grid-inline > .elementor-grid.grid-inline-center-xs, .elementor-widget-loop-grid.grid-inline > .elementor-widget-container > .elementor-grid.grid-inline-center-xs,
    .elementor-widget-loop-grid.grid-inline > .elementor-grid.grid-inline-center-sm, .elementor-widget-loop-grid.grid-inline > .elementor-widget-container > .elementor-grid.grid-inline-center-sm {
        flex-flow: column nowrap !important;
        align-items: stretch !important;
        justify-content: stretch !important;
    }

    .elementor-widget-loop-grid.grid-inline > .elementor-widget-container > .elementor-grid .e-loop-item {
        flex: 0 0 100%;
    }

    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-8 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-7 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-6 .gallery .gallery-item,
    .elementor-element .fs-fl7-type-logo_gallery .gallery-cols-5 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-4 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-3 .gallery .gallery-item,
    .elementor-element .fs-fl-type-logo_gallery .gallery-cols-2 .gallery .gallery-item {
        max-width: calc((100% / 3) - ((var(--grid-spacing) * 3) / 3));
    }


    .fs-fl-loop-grid-columns-2:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item,
    .fs-fl-loop-grid-columns-3:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item,
    .fs-fl-loop-grid-columns-4:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item,
    .fs-fl-loop-grid-columns-5:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item,
    .fs-fl-loop-grid-columns-6:not(.fs-fl-loop-grid-columns-align-default) .elementor-grid:not(.grid-inline) .e-loop-item,
    .fs-fl-type-testimonial .fs-fl-loop-grid-columns-align-center.elementor-grid > .e-loop-item {
        flex: 0 1 100% !important;
    }

}

.fs-fl-bg-default {
    background-color: var(--transparent) !important;
}
.fs-fl-bg-white {
    background-color: var(--white) !important;
}
.fs-fl-bg-light {
    background-color: var(--light) !important;
}
.fs-fl-bg-lighter {
    background-color: var(--lighter) !important;
}
.fs-fl-bg-dark {
    background-color: var(--dark) !important;
}
.fs-fl-bg-darker {
    background-color: var(--darker) !important;
}

.fs-fl-bg-primary {
    background-color: var(--brand-primary) !important;
}

.fs-fl-bg-secondary {
    background-color: var(--brand-secondary) !important;
}

.fs-fl-bg-tertiary {
    background-color: var(--brand-tertiary) !important;
}

/**
 * Section text colors for different background
 */

.fs-fl-bg-dark h2,
.fs-fl-bg-dark h3,
.fs-fl-bg-dark h4,
.fs-fl-bg-dark h5,
.fs-fl-bg-dark p,
.fs-fl-bg-dark ul,
.fs-fl-bg-dark ol,
.fs-fl-bg-darker h2,
.fs-fl-bg-darker h3,
.fs-fl-bg-darker h4,
.fs-fl-bg-darker h5,
.fs-fl-bg-darker p,
.fs-fl-bg-darker ul,
.fs-fl-bg-darker ol {
    color: var(--light);
}


.fs-fl-bg-primary h2,
.fs-fl-bg-primary h3,
.fs-fl-bg-primary h4,
.fs-fl-bg-primary h5,
.fs-fl-bg-primary p,
.fs-fl-bg-primary ul,
.fs-fl-bg-primary ol,
.fs-fl-bg-primary .elementor-widget-text-editor {
    color: var(--brand-primary-text) !important;
}

.fs-fl-bg-secondary h2,
.fs-fl-bg-secondary h3,
.fs-fl-bg-secondary h4,
.fs-fl-bg-secondary h5,
.fs-fl-bg-secondary p,
.fs-fl-bg-secondary ul,
.fs-fl-bg-secondary ol,
.fs-fl-bg-secondary .elementor-widget-text-editor {
    color: var(--brand-secondary-text) !important;
}

.fs-fl-bg-tertiary h2,
.fs-fl-bg-tertiary h3,
.fs-fl-bg-tertiary h4,
.fs-fl-bg-tertiary h5,
.fs-fl-bg-tertiary p,
.fs-fl-bg-tertiary ul,
.fs-fl-bg-tertiary ol,
.fs-fl-bg-secondary .elementor-widget-text-editor {
    color: var(--brand-tertiary-text) !important;
}

.elementor .elementor-widget .fs-fl-type-image_gallery .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
    gap: 12px; }

.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure {
    aspect-ratio: 1.45993031;
    width: 100%;
    position: relative;
}

.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure:nth-child(5n+1),
.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure:nth-child(5n+2),
.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure:nth-child(5n+3)
{
    flex: 0 0 calc(33% - 6px);
}

.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure:nth-child(5n+4),
.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure:nth-child(5n+5) {
    flex: 0 0 calc(50% - 6px);
}

.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure .gallery-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure .gallery-icon a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    transition: box-shadow .3s ease;
}

.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure .gallery-icon a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s cubic-bezier(0.4, 0, 0.2, 1);
}

.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure .gallery-icon a:hover img {
    transform: scale(1.05);
}

.elementor .elementor-widget .fs-fl-type-image_gallery .gallery figure .gallery-icon a:hover {
    box-shadow: 0 12px 35px -12px rgba(0, 0, 0, .25);
}
.swiper:not(.swiper-initialized) > * {
    display: none;
}

.fs-fl-content-align-right .fs-fl-content-col-image > .elementor-widget-image {
    rigt: auto;
    left: 0;
}

.woocommerce-cart .default-content-container > .e-con-inner,
.woocommerce-checkout  .default-content-container > .e-con-inner {
    --content-width: var(--container-width);
    padding-top: var(--section-padding-y-xs) !important;
}



/** TBD **/

.is-drilldown {
    position: relative;
    overflow: hidden;
}

.is-drilldown li {
    display: block;
}
.is-drilldown.animate-height {
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}
.drilldown a {
    padding: 0.7rem 1rem;
    background: var(--text-colour);
}
.drilldown .is-drilldown-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: -1;
    width: 100%;
    -webkit-transition: -webkit-transform 0.15s linear;
    transition: -webkit-transform 0.15s linear;
    transition: transform 0.15s linear;
    transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}
.drilldown .is-drilldown-submenu.is-active {
    z-index: 1;
    display: block;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.drilldown .is-drilldown-submenu.is-closing {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.drilldown .is-drilldown-submenu a {
    padding: 0.7rem 1rem;
}
.drilldown .nested.is-drilldown-submenu {
    margin-right: 0;
    margin-left: 0;
}
.drilldown .drilldown-submenu-cover-previous {
    min-height: 100%;
}
.drilldown .is-drilldown-submenu-parent > a {
    position: relative;
    padding-right: 48px;
}
.drilldown .is-drilldown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    content: "";
    border-right-width: 0;
    border-color: transparent transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 1rem;
}
.drilldown.align-left .is-drilldown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    content: "";
    border-right-width: 0;
    right: 1rem;
    left: auto;
}
.drilldown.align-right .is-drilldown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    content: "";
    border-left-width: 0;
    right: auto;
    left: 1rem;
}
.drilldown .js-drilldown-back > a::before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    content: "";
    border-left-width: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.75rem;
}

.menu.drilldown, .menu.drilldown ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu.drilldown a {
    display: block;
}

.is-drilldown .drilldown a {
    background: var(--darker);
    color: var(--text-colour);
    font-weight: 500;
    border-top: 1px solid var(--border-colour);
}

.is-drilldown {
    border-bottom: 1px solid var(--border-colour);
}

.drilldown .is-drilldown-submenu-parent > a {
    position: relative;
}

.drilldown .is-drilldown-submenu-parent > a::after {
    border: none;
    position: absolute;
    right: 12px;
    top: 50%;
    width: 24px;
    height: 24px;
    background: var(--brand-primary) url('data:image/svg+xml;utf-8,<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.05847 0.212754C9.36081 -0.0709006 9.8509 -0.0709356 10.1532 0.212754L15.7732 5.48634C15.9183 5.62256 16 5.80735 16 5.99999C16 6.19264 15.9183 6.37739 15.7732 6.51363L10.1532 11.7872C9.85088 12.0709 9.36081 12.0709 9.05847 11.7872C8.75618 11.5035 8.75614 11.0436 9.05847 10.7599L13.3569 6.72646H0.774194C0.346618 6.72646 -3.39806e-08 6.40121 0 5.99999C5.99329e-05 5.59881 0.346655 5.27351 0.774194 5.27351H13.3569L9.05847 1.24004C8.75613 0.956333 8.75613 0.496462 9.05847 0.212754Z" fill="white"/></svg>') no-repeat 50% / contain;
    background-size: 12px 10px;
    margin-top: -12px;
    border-radius: 100px;
    background-position: 5px center;
}

.drilldown .js-drilldown-back > a {
    position: relative;
    padding-left: 48px;
}


.drilldown .js-drilldown-back > a:before {
    border: none;
    position: absolute;
    left: 12px;
    top: 50%;
    width: 24px;
    height: 24px;
    background: var(--brand-tertiary) url('data:image/svg+xml;utf-8,<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.94153 0.212754C6.63919 -0.0709006 6.1491 -0.0709356 5.84677 0.212754L0.226815 5.48634C0.0816519 5.62256 3.01468e-05 5.80735 4.76837e-07 5.99999C4.90822e-07 6.19264 0.0816605 6.37739 0.226815 6.51363L5.84677 11.7872C6.14912 12.0709 6.63919 12.0709 6.94153 11.7872C7.24382 11.5035 7.24386 11.0436 6.94153 10.7599L2.64315 6.72646H15.2258C15.6534 6.72646 16 6.40121 16 5.99999C15.9999 5.59881 15.6533 5.27351 15.2258 5.27351H2.64315L6.94153 1.24004C7.24387 0.956333 7.24387 0.496462 6.94153 0.212754Z" fill="white"/></svg>') no-repeat 50% / contain;
    background-size: 12px 10px;
    margin-top: -12px;
    border-radius: 100px;
    background-position: 5px center;
}

.drilldown .js-drilldown-back > a:hover:before,
.drilldown .is-drilldown-submenu-parent > a:hover::after{
    background-color: var(--darker);
}

.drilldown .js-drilldown-back > a,
.drilldown .is-drilldown-submenu-parent > a {
    cursor: pointer;
}

.drilldown .nested.is-drilldown-submenu {
    background: var(--darker);
}

.is-drilldown .drilldown a:hover {
    background: var(--darker);
    color: var(--brand-primary);
}

ul.drilldown {
    transition-duration: .6s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.gform-theme--api, .gform-theme--framework {
    --gf-ctrl-label-color-primary: var(--text-colour) !important;
    --gf-label-space-primary: var(--grid-spacing-0-5x) !important;
    --gf-ctrl-radius: var(--border-radius-lg) !important;
    --gf-radius: var(--border-radius-lg) !important;
    --gf-ctrl-border-color: var(--border-colour) !important;
    --gf-ctrl-size: 42px !important;
    --gf-color-primary: var(--brand-primary) !important;
    --gf-color-primary-darker: var(--brand-primary-hover) !important;
    --gf-ctrl-outline-color-focus: var(--border-colour) !important;
    --gf-form-gap-y: var(--grid-spacing-1-5x) !important;
    --gf-form-gap-x: var(--grid-spacing-1-5x) !important;
    --gf-ctrl-btn-font-weight: var(--btn-font-weight) !important;
    --gf-font-size-primary: var(--text-regular-font-size) !important;
}
